body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
.color{
    color: orangered;
}
header {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.second{
    padding-top: 50px;
}
.width-half{
    width: 50%;
}
.width-half a{
    text-decoration:none ;
    padding: 10px 20px;
    border-radius: 5px;
    color: aliceblue;
    background-image:linear-gradient(yellow,orangered);
}
.width-half img{
    width: 60%;
    height: 400px;
    border-radius: 50%;
    padding-left: 60px;
}
.flexible-container{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}
.exprerience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
    border-left: 7px solid blue;
}
.border-right{
    border-left: 7px solid orangered;
}

footer p {
    text-align: center;
    padding-top: 50px;
}